.main-content {
  .card {
    border: 1px solid #e2dacf;
    border-top-width: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-top: 10px;

    .card-title {
      font-size: 16px;
      font-weight: 700;
    }

    .pagination {
      display: inline-block;
      margin: 0;
      padding: 0;

      li {
        display: inline;

        &:first-child {
          a, span {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
          }
        }

        &:last-child {
          a, span {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
          }
        }

        a, span {
          @include clearfix();
          display: block;
          float: left;
          position: relative;
          margin-left: -1px;
          padding: 5px 10px;
          font-size: 12px;
          line-height: 1.5;
          border: 1px solid $border-color;
          background-color: #fff;

        }

        span {
          background-color: $brand-primary;
          color: #fff;
          border-color: $brand-primary;
          z-index: 3;
        }

        a {
          color: $body-color;
          &:hover {
            text-decoration: none;
            color: $brand-primary;
            background-color: #fafafa;
          }
        }
      }

    }
  }
}
