@mixin pickerNav(){
    position: absolute;
    cursor: pointer;
    font-size: 0;
}

@mixin calendar-arrow($icon){
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    content: $icon;
}

.ui-widget.ui-widget-content {
    border-radius: 4px;
    width: 20em;
    padding: .4em;
    border: 1px solid rgba(247, 161, 26, 0.4);
    background: #f5f7fa;
    color: #333;
    font-size: 1em;
    margin: .2em 0 0;

    .ui-datepicker-header {
        position: relative;
        padding: .2em 0;
        background: #f7a11a;
        color: #fff;
        font-weight: 700;
        font-family: $font-family-sans-serif;
        font-size: 1.1em;
        text-align: center;
        margin: 0 0 .3em 0;
        border-radius: 3px;
    }

    a.ui-datepicker-prev {
        @include pickerNav();
        left: 10px;

        .ui-icon.ui-icon-circle-triangle-w{
            &:before{
                @include calendar-arrow("\f060");
            }
        }
    }

    a.ui-datepicker-next{
        @include pickerNav();
        right: 10px;

        .ui-icon.ui-icon-circle-triangle-e{
            &:before{
                @include calendar-arrow("\f061");
            }
        }
    }

    .ui-datepicker-calendar {
        width: 100%;
        
        td {
            background: #ffffff;
            border-radius: 2px;
            border: 3px solid #f5f7fa;
            
            &:hover {
                background: #f7a11a;
                cursor: pointer;
                
                a {
                    color: #fff;
                }
            }

            a {
                color: #f7a11a;
                font-weight: 700;
            }    

            &.ui-datepicker-other-month{
                background: none;
            }          
        }

        thead {
            th {
                text-align: center;
            }
        }

        tbody {
            td {
                text-align: center;
            }
        }
    }
}

