// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

// Content forms
.main-content {
  .card {
    fieldset {
      padding-bottom: 20px;
      border-bottom: 1px dashed #eee;
      margin-bottom: 20px;

      &:last-child {
        border: 0;
      }
    }

    .form-group {
      label {
        text-align: right;
        font-weight: 700;
      }
    }

    .form-control,
    .search-form .search-field {
      font-size: 14px;
    }

    .select2-container--default {
      width: 100% !important;

      .select2-selection--single {
        border: 1px solid rgba(0,0,0,.15);
        height: 35px;
        padding-top: 8px;
        padding-bottom: 8px;

        .select2-selection__arrow {
          display: none;
        }

        .select2-selection__rendered {
          padding-right: 36px;
          padding-left: 12px;
          font-size: 14px;
          color: #464a4c;
          line-height: 1.25;
        }
      }
    }

  }
}

.form-check-label {
  user-select: none;
  .form-check-input {
    position: absolute;
    opacity: 0;
    margin-left: 0 !important;

    &:checked + span {
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }

  &:hover {
    span {
      border-color: $brand-primary;
    }
  }

  span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    color: #fff;
    padding-top: 2px;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.15);
    margin-right: 5px;
    text-align: center;
    transition: all .2s ease-in-out;
  }

  .fa {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}
