.notification {
  margin-bottom: 30px;
  .notification-container {
    @include clearfix();
    padding: 15px;
    color: #fff;
    border-radius: $border-radius;
  }
  .close {
    display: inline-block;
    position: relative;
    float: right;
    font-size: 18px;
    color: #fff;
    width: 24px;
    height: 24px;
    outline: none;

    .close-x {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
