.main-content {
  .card {
    .table-striped tbody tr:nth-of-type(odd) {
      background-color: #fafbfc;
    }

    .table-filters {
      ul {
        @include clearfix();
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          float: left;

          a {
            &.active {
              color: $body-color;
            }
          }

          & + li {
            &:before {
              content: '|';
              margin-left: 4px;
              margin-right: 4px;
            }
          }
        }
      }
    }

    .table-search {
      fieldset {
        margin: 0;
        padding: 0;

        input[type="text"] {
          display: inline-block;
          max-width: 250px;
        }

        input[type="submit"] {
          vertical-align: top;
        }
      }
    }

    .table {

      thead th {
        border-top: 0;
      }

      tr {
        &:first-of-type{
          td {
            button{
              display: inline-block;
            }
          }
        }
        &:hover {
          .table-actions {
            visibility: visible;
          }
        }
      }

      tbody td {
        & > a {
          color: $body-color;
        }

        button {
          display: none;
        }
      }

      .table-actions {
        visibility: hidden;
        margin-top: 15px;
        ul {
          @include clearfix();
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            float: left;
            & + li {
              margin-left: 4px;
            }
          }

        }
      }
    }

    .table-footer {

    }

  }
}
