html {
  height: 100%;
  margin-top: 0 !important;
}
body {
  font-size: 14px;
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}
.wrap {
  position: relative;
  min-height: 100%;
  padding-bottom: 52px;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.screen-reader-text {
  display: none !important;
}

#wpadminbar {
  display: none !important;
}
