.login {
  .brand {
    background-color: #5ac4de;
    text-align: center;
    img {
      width: 100%;
      max-width: 250px;
      height: auto;
    }
  }
  .card {
    margin-top: 70px;
    @include media-breakpoint-up(md) {
      height: auto;
    }
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
  }
  h1 {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
  }
  p.text-danger {
    min-height: 21px;
  }
}
