.topnavbar-wrapper {
  position: fixed;
  top: 0;
  min-height: 55px;
  width: 100%;
  background-color: $brand-primary;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  z-index: 1000;
}

.topnavbar-header {
  @include clearfix();
  float: left;
  min-width: 220px;

  .select-element {
    z-index: 1001;
  }
}

.navbar-brand {
  display: block;
  padding: 10px 15px;
  margin-right: 0;
  text-align: center;
}

.brand-logo {
  img {
    height: 35px;
    width: auto;
  }
}

.topnavbar-microsite-select {
  @include clearfix();
  float: left;
  width: 100%;
  margin-right: -288px;

  .microsite-select {
    position: relative;
    min-width: 300px;
    top: 3px;
    padding-left: 4px;
    font-family: Source Sans Pro,sans-serif;
    border: 0;
    background-color: #f7a11a;
    font-size: 24px;
    border-bottom: 1px solid #fff;
    font-weight: 300;
    color: #fff;
  }

}

.topnavbar-userbox {
  @include clearfix();
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 68px;
  height: 55px;
  text-align: center;

  .userbox-wrapper {
    display: block;
    margin-top: 8px;

    .fa-circle {
      color: $white;
    }

    .fa-user {
      color: $brand-primary;
    }

    &:hover {
      .fa-circle {
        color: #f7f7f9;
      }
    }

    &:after {
      display: none;
    }
  }

  .dropdown-menu {
    font-size: 14px;
    margin-top: 8px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
    border: 0;
    border-radius: 0;
    left: initial;
    right: 0;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -8px;
      right: 10px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;
    }

    .profile {
      text-align: center;
      .avatar {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
      }
    }
  }

  .dropdown-item {
    color: $body-color;
    &:focus,
    &:hover {
      background-color: $brand-primary;
      color: #fff;
    }
  }
}

.topnavbar-microsite-select {
  padding-left: 15px;
  .select2-container {
    @include media-breakpoint-up(sm) {
      min-width: 300px;
    }
  }

  .select2-container--default {
    .select2-selection--single {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #fff;
      height: 31px;

      .select2-selection__placeholder {
        color: #f1f1f1;
        font-weight: 300;
        font-size: 24px;
      }

      .select2-selection__rendered {
        color: #fff;
        font-weight: 300;
        font-size: 24px;
      }

      .select2-selection__arrow {
        b {
          border-color: #fff transparent transparent;
        }
      }
    }
  }

  button[type="submit"] {
    transition: all .2s cubic-bezier(.35,0,.25,1);
    border: 0;
    cursor: pointer;
    margin-left: 15px;
    background-color: #fff;
    font-weight: 300;
    color: $brand-primary;
    height: 32px;
    width: 40px;
    margin-top: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
    border-radius: 2px;

    &:hover {
      background-color: #f7f7f9;
    }
  }
}

.select2-container {
  .select2-dropdown {
    border: 0;
    border-radius: 0;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
    .select2-dropdown--below {

    }
  }
}

.select2-container--default {
  .select2-search--dropdown {
    .select2-search__field {
      border: 0;
      background-color: transparent;
      outline: 0;
    }
  }

  .select2-results__option {
    &[aria-selected=true] {
      background-color: #f7f7f9;
    }
    &.select2-results__option--highlighted,
    &.select2-results__option--highlighted[aria-selected=true] {
      background-color: $brand-primary;
    }
  }

}
