.hero,
.sitehero {

  h2 {
    margin-top: 30px;
  }

  .hero-image-container {
    position: relative;
    border: 2px dashed #eee;
    padding: 15px;

    .hero-action-btn {
      position: absolute;
    }

    h3 {
      width: 100%;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      font-weight: 700;
      font-size: 32px;
      height: 32px;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-shadow: rgba(0, 0, 0, .75) -1px 1px 3px;
    }

    .hero-image {
      min-width: 100%;
      height: 200px;
      background-color: #f5f5f5;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .row {
    & > div[class^="col"] {
      margin-top: 30px;
      @include media-breakpoint-up(md) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
  }
}
