.main {
  padding-top: 55px;
  margin-left: 220px;

  .main-title {
    padding: 15px;
    background-color: #fafbfc;
    color: #929292;
    font-size: 24px;
    border-bottom: 1px solid #e2dacf;
    margin-bottom: 0;

    .desc {
      display: block;
      color: #909fa7;
      font-size: 12px;
    }
  }

  #loading-bar-container {
    position: relative;

    #loading-bar .bar,
    #loading-bar-spinner {
      position: absolute;
    }

    #loading-bar .peg {
      display: none;
    }
  }
}

.main-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
