.navmenu {
  list-style: none;
  padding: 0;
  margin: 0;

  .card {
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
  }

  a {
    display: block;
    transition: all .2s ease-in;
    color: #515253;
    &:hover,
    &:active,
    &:focus {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  li {
    letter-spacing: .035em;
  }

  .navmenu-heading {
    color: #b5a287;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
  }

  .navmenu-item {
    border-left: 4px solid #fff;
    a {
      padding-left: 26px;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-right: 15px;

      i {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 15px;
      }
    }

    &.navmenu-item-active {
      border-color: $brand-primary;

      a {
        color: $brand-primary;
      }
    }
  }

  .submenu {
    margin: 0;
    padding: 0;
    list-style: none;

    .navmenu-item {
      a {
        padding-left: 53px;
        color: #515253;

        &:hover {
          color: $brand-primary;
        }
      }

      &.navmenu-item-active {
        a {
          color: $brand-primary;
        }
        border-color: #fff;
      }
    }
  }

}
