@mixin content-area() {
	border: 1px solid rgba(0,0,0,.15) !important;
    border-radius: 0 0 .25rem .25rem;
}

@mixin statuses(){
    cursor: pointer;
    height: 50px;
    border-radius: 4px;
		transition: all .3s ease-in-out;
}

.form-control.wp-editor-area,
.mce-edit-area.mce-container {
    @include content-area();
}

.staff-photo {
    margin-top: 5px;

    img{
        max-width: 100%;
        max-height: 255px;
    }

    .remove {
        display: block;
    }
}

ul.category-list {
    list-style: none;
    margin: 0px 0 0 0px;
    padding: 10px;
    max-height: 210px;
    overflow-y: scroll;
    background-color: #fdfdfd;
    border: 1px solid #ddd;

    li {

        label {
            text-align: left !important;
        }

    }
}

img#post-featured-src {
    max-width: 100%;
}

.footer-logo {
    padding: 10px 0;
}

.btn,
.search-form .search-submit{
    vertical-align: top;
}

.dashicons.dashicons-trash{
    cursor: pointer;
}

.tab-pane{

    fieldset{
    
        &:first-of-type{

            .row{

                > div{

                    .remove{
                        display: none;
                    }
                }
            }
        }
        
    }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-link:hover {
    color: #fff !important;
    background-color: #f7a11a !important;
    border-bottom: 0 !important;
}

.hours-operations-time {

    input {
        max-width: 60px;
        text-align: center;
        margin-bottom: 5px;
    }

    > div {
        margin-bottom: 10px;

        > div {
            display: inline-block;
            width: 80px;
            vertical-align: middle;
        }

    }
}

span.dashicons.dashicons-plus-alt.add {
    cursor: pointer;
}

span.remove{
    cursor: pointer;
    vertical-align: middle;
}

.hours-operations-day {
    > label {
        display: block;
    }
}

.workday-status {
    @include statuses();

    background-color: #8ade8f;

    input {
        display: none;
    }
}

.restday-status{
    @include statuses();

    background-color: #de5962;

    input {
        display: none;
    }
}

h3 {
    margin-top: 30px;
    font-size: 22px;
    margin-bottom: 15px;
}

.pricing-table{
    .price-wrapper {
        position: relative;

        input {
            display: inline-block;
            width: 94%;
            margin-left: 2%;
        }

        &:before {
            content: '$';
            position: absolute;
            left: -8px;
            top: 5px;
            font-size: 16px;
        }

        span.sub-label {
            margin-left: 20px;
        }

    }

    .price-wrapper.no-before:before{
        content: '';
        display: none;
    }

    tr > td:first-of-type {
        width: 260px;
    }

    span.frequency {
        display: block;
        font-size: 13px;
    }
}

#job-form-page{
    display: block;
    visibility: visible;
    opacity: 1;
}

.audit-logs {

    ol {
        margin-left: 0;
        padding-left: 0;
    }

    ul {
        padding-left: 15px;
    }

}

#page-hero-img,
#page-featured-img{
    width: 100%;
    height:auto;
    margin-top: -20px;
    cursor: pointer;
}

#set-hero-image,
#set-post-thumbnail{

    &:focus{
        outline: none;
        border: 0;
    }
}

.modal-backdrop.show {
    display: none;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 5%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    display: block;
}

i.fa.fa-arrows-v {
    margin-right: 10px;
}

.hidden-fields{
    display: none;
}