#post-tags{
    padding: 0;
    margin: 0;

    .form-check-label {
        margin-right: 15px;
        padding-left: 0;

        > span {
            margin: 0 0 12px 0;
        }
    }

}

.ui-sortable-handle {
    cursor: pointer;
}

.ui-sortable-helper{
    background-color: #f7a11a !important;
    color: #fff;
}

div#tags-suggested {
    position: relative;

    &:focus {
        border: 1px solid #f7a11a;
    }

    .ac_results{
        text-align: right !important;
        right: 0 !important;
        top: 1px !important;
        left: 0 !important;
        position: absolute;
        display: block !important;
        border: 1px solid #f7a11a;
        z-index: 999;
        color: #f7a11a;
        padding: 10px 0px 10px 0px;
        list-style: none;
        background: #fff;
        border-radius: 3px;

        .ac_over {
            cursor: pointer;
        }

        .ac_match {
            text-decoration: underline;
        }

        &:empty {
            visibility: hidden;
        }

        li {
            padding: 5px 15px !important;
            white-space: nowrap;
            text-align: left;

            &:hover {
                background: #f7a11a;
                color: #fff;
            }
        }
    }
}