.sidebarnav {
  padding-top: 55px;
  position: fixed;
  width: 220px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #e2dacf;
  overflow: hidden;
  z-index: 999;

  .sidebar {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 235px;
    height: 100%;
    overflow-y: scroll;
  }
}
