@mixin tabs-nav{
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-bottom: 0;
}

@mixin ajax-conten-fields{
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
}
    
.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 0;
    background: #f5f5f5;
}

.nav-tabs {

    .nav-item {
        margin-bottom: -2px;

        &.show{

            .nav-link{
                @include tabs-nav;
            }
        }
    }

    .nav-link{
        
        &.active{
            @include tabs-nav;
        }
    }
}

.form-table {
    font-size: 14px;
    width: 100% !important;
    margin: 20px 0 0;

    input {
        border: 1px solid #ddd;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
        background-color: #fff;
        color: #32373c;
        outline: 0;
        -webkit-transition: 50ms border-color ease-in-out;
        transition: 50ms border-color ease-in-out;
        padding: 2px 6px;
        margin-bottom: 5px;
    }
}

.tag-generator-panel .control-box {

    > fieldset legend {
        border: 1px solid #dfdfdf;
        border-left: 4px solid #00a0d2;
        background: #f7fcfe;
        padding: 4px 12px;
        margin: 4px 0;
        line-height: 1.4em;
        width: 95%;
        font-size: .95em;
    }

    .insert-box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 10px 16px;
        background-color: #fcfcfc;
        border-top: 1px solid #dfdfdf;
        overflow: auto;
    }
}

span#tag-generator-list{

    > a {
        font-size: 12px;
        margin: 2px 2px 5px;
        padding: 4px 10px;
        color: #000;
        border-color: #ccc;
        background: #ffffff;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(247, 161, 26, 0.5);
        box-shadow: 0px 0px 1px 1px rgba(247, 161, 26, 0.5);
        vertical-align: top;
        text-decoration: none;
        border-radius: 2px;
        display: inline-block;

        &:active{
            background: #eee;
            border-color: #999;
            -webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
            box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
            -webkit-transform: translateY(1px);
            -ms-transform: translateY(1px);
            transform: translateY(1px);
        }
    }

}

#TB_ajaxContent {
    margin: 0 auto;
    width: 100%;
}

.screen-reader-text {
    display: none;
}

.wp-editor-area {
    resize: none;
}

.hidden{
    display: none;
}